<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Product Form</title>
</head>
<body>
<h2>Product form</h2>

<form action="/product/save" method="post" th:object="${product2}">
    <input type="text" name="name" th:field="*{name}" />
    <input type="number" step="0.01" name="price" th:field="*{price}" />
    <button type="submit">Save</button>
</form>
<ul>
    <li th:text="${product1.name} ?: 'No name'">?1name</li>
    <li th:text="${product1.price} ?: 'No price'">?1price</li>
</ul>
<ul>
    <li th:text="${product2.name} ?: 'No name'">?2name</li>
    <li th:text="${product2.price} ?: 'No price'">?2price</li>
</ul>
<ul>
    <th:block th:each="item: ${items}">
        <li th:text="${item.name}">item.name</li>
        <li th:text="${item.price}">item.price</li>
    </th:block>
</ul>

</body>
</html>
