<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<h2>Đăng nhập</h2>

<form th:action="@{/login/check}" method="post">
    <div>
        <label>Username:
            <input type="text" name="username" th:value="${username}"/>
        </label>
    </div>
    <div>
        <label>Password:
            <input type="password" name="password"/>
        </label>
    </div>
    <div>
        <button type="submit">Đăng nhập</button>
    </div>
</form>

<!-- thông báo -->
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

</body>
</html>
